# vim: set filetype=conf:

# Plugins
set -g @plugin 'thewtex/tmux-mem-cpu-load'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @continuum-restore 'on'
set -g @resurrect-processes 'false'

# use control-a
unbind C-b
set -g prefix C-a

# Allow double ctrl-a to go to the beginning of the line
bind-key C-a send-prefix

set -g allow-passthrough 1

# default statusbar colors
set-option -g status-style bg=colour235,fg=colour136

# default window title colors
set-window-option -g window-status-style fg=colour244,bg=default

# active window title colors
set-window-option -g window-status-current-style fg=colour166,bg=default

# pane and window border
set-option -g pane-border-style fg=colour240 #base02
set-option -g pane-active-border-style fg=colour240 #base01

set-window-option -g pane-active-border-style ''

# message text
set-option -g message-style bg=colour235,fg=colour166 #orange

# pane number display
set-option -g display-panes-active-colour colour33 #blue
set-option -g display-panes-colour colour166 #orange

# clock
set-window-option -g clock-mode-colour colour64 #green

# Reload a pane
bind R respawn-pane -k

# Disable auto renaming
set-option -g allow-rename off

# pane number display
set-option -g display-panes-active-colour colour33 #blue
set-option -g display-panes-colour colour166 #orange

# Vi copypaste mode
set-window-option -g mode-keys vi
bind-key -Tcopy-mode-vi 'v' send -X begin-selection
bind-key -Tcopy-mode-vi 'y' send -X copy-selection

# Copy to localhost:8378
set-option -s set-clipboard off

{{ if eq .chezmoi.os "darwin" -}}
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "nc -w 1 0.0.0.0 8378"
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "nc -w 1 0.0.0.0 8378"
{{ else if eq .chezmoi.os "linux" -}}
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "nc -N 0.0.0.0 8378"
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "nc -N 0.0.0.0 8378"
{{ end -}}


# Easy traversal
is_vim='echo "#{pane_current_command}" | grep -iqE "(^|\/)g?(view|n?vim?)(diff)?$"'
bind -n C-h if-shell "$is_vim" "send-keys C-h" "select-pane -L"
bind -n C-j if-shell "$is_vim" "send-keys C-j" "select-pane -D"
bind -n C-k if-shell "$is_vim" "send-keys C-k" "select-pane -U"
bind -n C-l if-shell "$is_vim" "send-keys C-l" "select-pane -R"

# Swap windows with Ctrl + Shift + Left/Right
bind -n C-S-Left swap-window -t -1
bind -n C-S-Right swap-window -t +1

# Toggle mouse mod
setw -g mouse on
bind m \
    set -g mouse on \;\
    display 'Mouse: ON'
# Set mouse off with prefix M
bind M \
    set -g mouse off \;\
    display 'Mouse: OFF'

# set window split
bind-key v split-window -h
bind-key h split-window
bind c new-window

# reload
bind r source-file ~/.tmux.conf \; display-message "Config reloaded..."

# clear scrollback
bind C-k send-keys "/usr/bin/clear && tmux clear-history" \; send-keys "Enter"

# activity
setw -g monitor-activity on
set -g visual-activity on

# start window numbers at 1 to match keyboard order with tmux window order
set -g base-index 1
set-window-option -g pane-base-index 1

# Prevent esc key delay in vim
set -sg escape-time 0

# renumber windows sequentially after closing any of them
set -g renumber-windows on

# Status bar
set-option -g status on
set-option -g status-interval 5
set-option -g status-justify "centre"
set-option -g status-left-length 70
set-option -g status-right-length 90
set -g status-left "#(cat /etc/hostname || hostname) | #(curl --max-time 2 -s http://checkip.amazonaws.com)"
set -g status-right "#(~/.tmux/plugins/tmux-mem-cpu-load/tmux-mem-cpu-load --interval 2) | %a %h-%d %H:%M:%S"

# increase scrollback lines
set -g history-limit 50000

# Prevent exiting tmux by pressing ctrl-d
set-environment -g 'IGNOREEOF' 2

# Others
set -g focus-events on
setw -g aggressive-resize on

# Local config
if-shell "[ -f ~/.tmux.conf.local ]" 'source ~/.tmux.conf.local'

run '~/.tmux/plugins/tpm/tpm'
