# vim: set filetype=zsh:

# history settings
setopt hist_ignore_all_dups inc_append_history
HISTFILE=~/.zhistory
HISTSIZE=4096
SAVEHIST=4096

# handy keybindings
bindkey "^A" beginning-of-line
bindkey "^E" end-of-line
bindkey "^R" history-incremental-search-backward

# Disable oh-my-zsh auto-update
zstyle ':omz:update' mode disabled

# z
 . ~/tools/z/z.sh

# load zgenom
export ZGEN_DIR=$HOME/.zgenom
source "${HOME}/tools/zgenom/zgenom.zsh"
if ! zgenom saved; then
    zgenom ohmyzsh

    # plugins
    zgenom oh-my-zsh plugins/git
    zgenom oh-my-zsh plugins/kubectl
    zgenom oh-my-zsh plugins/docker
    zgenom oh-my-zsh plugins/docker-compose

    export NVM_LAZY_LOAD=true
    zgenom load lukechilds/zsh-nvm
    zgenom load zsh-users/zsh-syntax-highlighting

    # completions
    zgenom load zsh-users/zsh-autosuggestions
    zgenom load zsh-users/zsh-completions src

    zgenom load joshskidmore/zsh-fzf-history-search

    # Theme
    zgenom load spaceship-prompt/spaceship-prompt spaceship

    # Color
    zgenom load tinted-theming/base16-shell

    # save all to init script
    zgenom save
fi

# Set theme
base16_default-dark

# Prevent exiting shell by ctrl-d
set -o ignoreeof

# gitignore.io
function gi() { curl -L -s https://www.gitignore.io/api/$@ ;}

# Speed up pasting with auto-suggest
# https://github.com/zsh-users/zsh-autosuggestions/issues/238#issuecomment-389324292
pasteinit() {
    OLD_SELF_INSERT=${${(s.:.)widgets[self-insert]}[2,3]}
    zle -N self-insert url-quote-magic
}
pastefinish() {
    zle -N self-insert $OLD_SELF_INSERT
}
zstyle :bracketed-paste-magic paste-init pasteinit
zstyle :bracketed-paste-magic paste-finish pastefinish

# aliases
source ~/.aliases

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

unset CONDA_SHLVL

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$($HOME/anaconda/bin/conda shell.zsh hook 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$HOME/anaconda/etc/profile.d/conda.sh" ]; then
        . "$HOME/anaconda/etc/profile.d/conda.sh"
    else
        export PATH="$HOME/anaconda/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
