@import url(http://fonts.googleapis.com/css?family=IBM+Plex+Mono);

.CodeMirror-lines, div.output_area pre {
    font-family: "Iosevka", "SF Mono", "IBM Plex Mono", monospace;
}

.notebook_app {
    font-family: system-ui, sans-serif;
}

.container {
    width: 100% !important;
}

.prompt {
    min-width: 0 !important;
}

.prompt:empty {
    min-width: 10ex !important;
}
